@import url(normalize.css);
@import url(header.css);
@import url(footer.css);

main{
  
    width: 90%;
    margin-left: 5%;
    text-align: center;
}
.seccion-ultima-visita, .seccion-ofertas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
 
}
.item{
    margin: auto;
    width: 80%;
}
.foto{
    background-color:#ebebeb;
    display:block;
    margin:auto;

}
.descripción{
    border-top: 1px solid var(--Gris-claro) ;
    margin: 15px;
}
.nombre-producto{
    margin-top: 10px;
    display:none;
}
/* .camion{
    width: 100px;
  height: 100px;
  background: red;
  transition: width 2s, height 4s;
} */
.camion i{

    background-color: white;
    color: #39b54a;
    display: block;
    font-size: 16px;
    padding: 5px;
    border: 1px green solid;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    transition: width 2s, height 2s, transform 2s;
}
.camion i:hover{
    transform: rotate(190deg);
}
article{
    margin-bottom: 10px;
    
}

.titulares{
    font-size: 24px;
}
.precio{
    font-size: 18px;
}
.descuento, .ofertas, .personal{
    font-size: 16px;
}

.copy{
    text-align: center;

}

/*------------------------Media queries------------------------*/

/*------------------------TABLET------------------------*/
@media (min-width: 480px){
    .menu-superior{
        display: flex;
        justify-content: space-between;
    }
.menu {
    display: none;
}
.navegacion-header {
    display:flex;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
}

.ofertas, .personal {
    display:inline-flex;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;

    
}
.item{
    
        width: 40%;
    
}
.nombre-producto{
    display: block;
}
.foto{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}
.texto-footer{
    display: block;
}

}
/* ------------- COMPUTADORA ------------- */
@media (min-width: 769px){
    .foto{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .menu  {
       display: none;
    }
    .navegacion-header {
        display: flex;
        justify-content: space-between;
        margin-left: 10px;
        margin-right: 10px;
    }
    
    .ofertas, .personal {
        display:inline-flex;
        justify-content: space-between;
        margin-left: 10px;
        margin-right: 10px;
        
    }
    .item{
    
        width: 20%;
    
}
  
    .nombre-producto{
        display:block;
    }
    .texto-footer{
        display:block
    }
}