<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <title>Mercado Liebre HTML</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
<link rel="stylesheet" href="css/normalize.css">

</head>
    <body>
    <header>
        
<div class="menu-superior"><img class="logo" src="/img/logo-mercado-liebre.svg">
    <p class="barra-de-busqueda">Buscar productos, marcas <i class="fas fa-search"></i></p>
    
    <P class="compra"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</P>
</div>
<nav class="navegacion-header">
    <ul class="ofertas">
        <li> <a href="#">Ofertas</a></li>
        <li> <a href="#">Tiendas Oficiales</a></li>
        <li> <a href="#">Vender </a></li>
        <li> <a href="#">Ayuda </a></li>
    </ul>
    <ul class="personal">
        <li class="cuenta"> <a href="/register">Creá tu cuenta </a><i class="fas fa-user"></i></li>
        <li class="ingresa"> <a href="/loggin">Ingresá </a><i class="fas fa-sign-in-alt"></i></li>
        <li class="mis-compras"> <a href="#"> Mis compras </a> <i class="fas fa-shopping-basket"></i></li>
        
    </ul> 
    <div class="menu"><div class="burger-menu">
        <i class="fas fa-bars"></i>
        </div>
    </div>
    
</nav>
       <div><img class="home" src="/img/img-home-banner.jpg">
    </div>
   

    </header>
    <main>
        <h2 class="titulares"> Basado en tu última visita </h2>
        <section class="seccion-ultima-visita">
            
                
         <article class="item">
            <div> <img class= "foto" src="/img/img-cafetera-moulinex.jpg" alt="Cafetera"></div>
                <div class="descripción">
                    <div class="camion"><i class="fas fa-truck"></i>
                </div>
        <p class="precio">$6.770</p>
        <p class="descuento">40% OFF</p>
        <p class="nombre-producto">Cafetera Moulinex</p>
        </div>
        </article>

        <article class="item">
        <img class= "foto" src="/img/img-macbook-pro-2019.jpg" alt="Portatil">
        <div class="descripción">
            <div class="camion">
                <i class="fas fa-truck"></i>
                </div>
                    <p class="precio">$230.000</p>
                    <p class="descuento">20% OFF</p>
                    <p class="nombre-producto">MacBook Pro 2019</p>
        </div>
       </article>

       <article class="item">
        <img class= "foto" src="/img/img-samsung-galaxy-s10.jpg" alt="Celular">
        <div class="descripción">
            <div class="camion">
                <i class="fas fa-truck"></i>
                </div>
                    <p class="precio">$70.500</p>
                    <p class="descuento">10% OFF</p>
                    <p class="nombre-producto">Samsung Galaxy S10</p>
        </div>
        </article>

        <article class="item">
            <img class= "foto" src="/img/img-tv-samsung-smart.jpg" alt="Televisor">
            <div class="descripción">
                <div class="camion">
                    <i class="fas fa-truck"></i>
                    </div>
            <p class="precio">$23.200</p>
            <p class="descuento">5% OFF</p>
            <p class="nombre-producto">SmartTv Samsung 43"</p>
            </div>
            </article>
    </div>
       
</section>


<h2 class="titulares"> Ofertas </h2>
<section class="seccion-ofertas">
    
                
    <article class="item">
        <div> <img class= "foto" src="/img/img-cafetera-moulinex.jpg" alt="Cafetera"></div>
            <div class="descripción">
                <div class="camion"><i class="fas fa-truck"></i>
            </div>
    <p class="precio">$6.770</p>
    <p class="descuento">40% OFF</p>
    <p class="nombre-producto">Cafetera Moulinex</p>
    </div>
    </article>

    <article class="item">
        <img class= "foto" src="/img/img-macbook-pro-2019.jpg" alt="Portatil">
        <div class="descripción">
            <div class="camion">
                <i class="fas fa-truck"></i>
                </div>
                    <p class="precio">$230.000</p>
                    <p class="descuento">20% OFF</p>
                    <p class="nombre-producto">MacBook Pro 2019</p>
        </div>
       </article>

       <article class="item">
        <img class= "foto" src="/img/img-samsung-galaxy-s10.jpg" alt="Celular">
        <div class="descripción">
            <div class="camion">
                <i class="fas fa-truck"></i>
                </div>
                    <p class="precio">$70.500</p>
                    <p class="descuento">10% OFF</p>
                    <p class="nombre-producto">Samsung Galaxy S10</p>
        </div>
        </article>

        <article class="item">
            <img class= "foto" src="/img/img-tv-samsung-smart.jpg" alt="Televisor">
            <div class="descripción">
                <div class="camion">
                    <i class="fas fa-truck"></i>
                    </div>
            <p class="precio">$23.200</p>
            <p class="descuento">5% OFF</p>
            <p class="nombre-producto">SmartTv Samsung 43"</p>
            </div>
            </article>
    
</section>

    </main>
    <footer>
    <article class="pago">
    <i class="fas fa-credit-card"></i>
    <h4>Pagá con tarjeta o en efectivo</h4>
    <p class="texto-footer">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
        puntos de pago. ¡Y siempre es seguro!</p>
    </article>

    <article class="envio">
    <i class="fas fa-gift"></i>
    <h4>Envío gratis desde $ 2.500</h4>
    <p class="texto-footer">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
        productos. Es un beneficio de Mercado Puntos.</p>
    </article>

    <article class="seguridad">
    <i class="fas fa-user-shield"></i>
    <h4>Seguridad, de principio a fin</h4>
    <pc class="texto-footer">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
        porque estás siempre protegid@.</p>
    </article>

    
    </footer>
    <article class="copy">
        <h4>Copyright © 1999-2020 MercadoLiebre S.R.L.</h4> 
        </article>
    
</body>
</html>